{% extends "base_generic.html" %}

{% block content %}
    <div class="Center">
        <h2><strong>GIMKANA</strong></h2>
        <p class="Center_">
            <img src="/static/img/logo-freestayl.png" alt="FreeStayl" width="70%">
        </p>
        <br>
        <strong>REGLAS</strong>
    </div>
    <br>

    <div class="Justify">
        <p>Bienvenid@ a la Gimkana FreeStayl sobre la Festa Major de la Prospe.</p>
        <p>El objetivo del juego es encontrar el máximo número de QRs que están distribuidos en zonas representativas de la Festa Major.</p>
        <p>En la pantalla principal se muestra una lista con todos los QRs. Al seleccionar cada uno de ellos encontrarás una pista que te ayudará a descubrir su ubicación. No es necesario resolverlos en orden.</p>
        <p>Aunque los QRs no estarán a simple vista, es posible que encuentres alguno por casualidad. En ese caso ¡enhorabuena!.</p>
        <p>Si lo necesitas, puedes pedir una pista adicional, que consiste en una fotografía de la ubicación del QR.</p>
        <p>Si aún tienes dudas, puedes pedir otra pista, que en este caso será un mapa desde el que podrás navegar para llegar hasta el QR.</p>
        <p>También puedes conseguir puntos extra escaneando los QRs en los <strong>comercios colaboradores</strong> de la Festa Major.</p>
        <p>Las puntuaciones son:
        <ul>
            <li>5 puntos por cada QR</li>
            <li>4 puntos por cada QR con fotografía</li>
            <li>3 puntos por cada QR con mapa</li>
            <li>1 punto por cada QR de comercio</li>
        </ul>
        <p>¿Y si no encuentro el QR? Siempre puedes marcarlo como resuelto y ver la información que contiene. En ese caso se marcará como conseguido, pero la puntuación será de 0 puntos</p>
        </p>
    </div>

    <form class="Center" action="{% url 'qrs' %}">
        <input class="Button" type="submit" value="Jugar"/>
    </form>

{% endblock %}