{% extends "base_generic.html" %}

{% block content %}

    <form class="Center" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
            <p>El usuario no existe.</p>
            <p>Inténtalo de nuevo o <b> <a href="{% url 'signup' %}">crea tu usuario</a></b>.</p>
        {% else %}
            <p>Accede con tu nombre de usuario registrado</p>
        {% endif %}

        <div>
            <p>{{ form.username.label_tag }} {{ form.username }}</p>
            <p>{{ form.password }}</p>
            <input class="Button" type="submit" value="Entrar" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>

    {% if not form.errors %}
        <p class="Warning">Si no tienes usuario, ve a la página de <a href="{% url 'signup' %}?next={{ request.GET.next }}">registro.</a></p>
    {% endif %}
    </form>
{% endblock %}