{% extends "base_generic.html" %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>El usuario no tiene acceso a esta página</p>
        {% else %}
            <p>Inicia sesión para ver la página</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
            <p><b>El usuario no existe.</b> <a href="{% url 'signup' %}">Crear usuario</a></p>
        {% else %}
            <p><a href="{% url 'signup' %}">Crea tu usuario</a> si aún no lo has hecho</p>
        {% endif %}

        <div>
            <p>{{ form.username.label_tag }}</p>
            <p>{{ form.username }}</p>
            <p>{{ form.password }}</p>
            <input type="submit" value="Entrar" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>

{% endblock %}