{% extends "base_generic.html" %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>El usuario no tiene acceso a esta página</p>
        {% else %}
            <p>Inicia sesión para ver la página</p>
        {% endif %}
    {% endif %}

    <form class="Center" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
            <p>El usuario no existe.<b> <a href="{% url 'signup' %}">Crear usuario</a></b>.</p>
        {% else %}
            <p>Introduce el nombre de usuario registrado</p>
        {% endif %}

        <div>
            <p>{{ form.username.label_tag }} {{ form.username }}</p>
            <p>{{ form.password }}</p>
            <input class="Button" type="submit" value="Entrar" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>

    {% if not form.errors %}
        <p class="Warning">Si no tienes usuario, ve a la página de <a href="{% url 'signup' %}">registro.</a></p>
    {% endif %}
    </form>
{% endblock %}