{% extends 'base_generic.html' %}

{% block content %}
    <h1>Gimkana FreeStayl</h1>

    <p>Bienvenid@ a la <em>Gimkana FreeStayl</em> de la Festa Major de la Prospe.</p>
    <p>¡Sigue las pistas y escanea tantos QRs como puedas!</p>

    <p><a href="{% url 'login' %}">Accede</a> si ya tienes una cuenta</p>

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            <p><b>Introduce un nombre y un email válidos</b></p>
        {% endif %}

        <div>
            <p>{{ form.username.label_tag }}</p>
            <p>{{ form.username }}</p>
            <p>{{ form.email.label_tag }}</p>
            <p>{{ form.email }}</p>
            <input type="submit" value="Entrar" />
        </div>
    </form>

{% endblock %}
