.GoogleMapsContainer {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
}
.GoogleMapsContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80% !important;
    height: 80% !important;
}