.GoogleMapsContainer {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
}
.GoogleMapsContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.MapUrl {
    color: lightgray;
    font-size: 12px;
}