html, body {
    width: 100vh;
    height: 100vh;
}

.container {
    width: 100vh;
    min-height: 100vh;
    margin: 0;
    padding-left: 0px;
    background-color: black;
    color: lightcyan;
    display: flex;
    flex-direction: row;
}

.container input {
    color: darkslategray;
}

.container-bars {
    display: flex;
    flex-direction: row;
}

.color-bar {
    height: 100%;
    width: 5px;
}

.color-bar.bar-red {
    background-color: crimson;
}

.color-bar.bar-yellow {
    background-color: yellow;
}
.color-bar.bar-green {
    background-color: green;
}
.color-bar.bar-cyan {
    background-color: cyan;
}

.container-body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    margin-left: 10px;
    width: 100px;
}

.sidebar-menu {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.content {
    margin-left: 10px;
}

.list-item {
    font-size: 15px;
    padding-bottom: 4px;
}

.checked {
    color: limegreen;
}

.checked::before {
    content: "\1F7E2"; /* Green circle */
    color: limegreen;
}

.unchecked {
    color: papayawhip;
    font-weight: bold;
}

.unchecked::before {
    content: "\26AA";  /* White circle */
}

.list-item a {
    color: inherit;
}
