html, body {
    width: 100vh;
    height: 100vh;
}

.container {
    width: 100vh;
    min-height: 100vh;
    margin: 0;
    padding-left: 0px;
    background-color: black;
    color: lightcyan;
    display: flex;
    flex-direction: row;
}

.container input {
    color: darkslategray;
}

.container-bars {
    display: flex;
    flex-direction: row;
}

.color-bar {
    height: 100%;
    width: 5px;
}

.color-bar.bar-red {
    background-color: crimson;
}

.color-bar.bar-yellow {
    background-color: yellow;
}
.color-bar.bar-green {
    background-color: green;
}
.color-bar.bar-cyan {
    background-color: cyan;
}

.container-body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    margin-left: 10px;
    width: 100px;
}

.sidebar-menu {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.content {
    margin-left: 10px;
}

.list-item {
    font-size: 15px;
    padding-bottom: 4px;
}

.checked {
    color: limegreen;
}

.checked::before {
    content: "\1F7E2"; /* Green circle */
    color: limegreen;
}

.unchecked {
    color: papayawhip;
    font-weight: bold;
}

.unchecked::before {
    content: "\26AA";  /* White circle */
}

.list-item a {
    color: inherit;
}

.TagContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.TagContainer .Tag {
  margin: 5px;
  display: flex;
  flex-direction: row;
  min-width: 29px;
  max-width: 120px;
  # width: fit-content;
  width: 100px;
  height: 28px;
  border-radius: 20px;
  cursor: pointer;

  color: black;
  background: lightgrey;
  transition: width 0.3s linear;
  overflow: hidden;
}

.Tag .Label {
    padding: 0 9px 0 9px;
    margin: auto;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
