.ButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //margin-top: -10px;
}

.Button {
    margin-top: 20px;
    width: 120px;
    height: 28px;
    border-radius: 10px;

    color: white !important;
    background: #1A8E88;
    border-color: #C5EAE9;
    font-weight: bold;
}

.TagsContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    margin-bottom: 10px
}

.TagsRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.TagsRow .Tag {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  width: 100px;
  height: 28px;
  border-radius: 20px;

  color: white;
  background: #1A8E88;
}

.Tag .Label {
    display: flex;
    padding: 0 9px 0 9px;
    margin: auto;
    font-size: 12px;
}

