{% extends "base_generic.html" %}

{% block content %}
    <h4>{{ qr.title }}</h4>

    <p>{{ qr.hint }}</p>

    {% if qr.is_scanned or qr.hints > 0 %}
        <br>
        <figure>
            <img src="/static/{{ qr.image}}" alt="{{ qr.title }}">
            <figcaption>{{ qr.image_footer }}</figcaption>
        </figure>

        <br>
    {% endif %}

    {% if qr.is_scanned %}
        <div class="Description">
            {{ qr.description|urlize }}
        </div>
    {% else %}
        {% if qr.hints > 1 %}
            <p><a href={{ qr.coordinates }}>Ver mapa</a></p>
            <div class="GoogleMapsContainer">
                <iframe src="https://maps.google.com/maps?hl=es&amp;q={{qr.coordinates}}&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=near&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        {% else %}
            <a href="{% url 'get-hint' qr.id %}">Abrir pista {{ qr.hints|add:"1" }}</a>
            <br>
            <br>
        {% endif %}
    {% endif %}

    <form action="{% url 'qrs' %}">
        <input class="Button" type="submit" value="Volver"/>
    </form>

{% endblock %}
