{% extends "base_generic.html" %}

{% block content %}
    {% include "gimkana/scoring.html" %}

    {% for qr in qr_list %}
        <div class="list-item
                {% if qr.is_scanned %}
                    checked
                {% elif qr.is_unavailable %}
                    unavailable
                {% else %}
                    unchecked
                {% endif %}"
        >
            <a href="{{ qr.get_absolute_url }}">{{ qr.title }}</a>
        </div>
    {% empty %}
        <p>Aún no hay QRs.</p>
    {% endfor %}

    <form class="Center" action="{% url 'rules' %}">
        <input class="Button" type="submit" value="Ver reglas"/>
    </form>

    {% if request.user.is_staff %}
        <form class="Center" action="{% url 'users' %}">
            <input class="Button" type="submit" value="Ranking"/>
        </form>
    {% endif %}



{% endblock %}
