{% extends "base_generic.html" %}

{% block content %}
    <h3>Mis QRs</h3>

    {% if userqr_list %}
        {% for qrscan in userqr_list %}
            <div class="list-item {% if qrscan.is_scanned %}checked{% else %}unchecked{% endif %}">
                <a href="{% url 'qr-detail' qrscan.qr.pk %}">{{qrscan.qr.name}}</a>
                (Hints: {{ qrscan.hints }} - {% if qrscan.scan_date %}Scanned {{ qrscan.scan_date }}{% else %}Sin escanear{% endif %})
            </div>
        {% endfor %}
    {% else %}
        <p>No has escaneado ningún QR</p>
    {% endif %}
{% endblock %}
