{% extends "base_generic.html" %}

{% block content %}
    <h3>Mis QRs escaneados</h3>

    {% if qrscan_list %}
    <ul>

      {% for qrscan in qrscan_list %}
      <li class="{% if qrscan.is_scanned %}text-danger{% endif %}">
        <a href="{% url 'qr-detail' qrscan.qr.pk %}">{{qrscan.qr.name}}</a>
          ({{ qrscan.status }}{% if qrscan.scan_date %} - {{ qrscan.scan_date }}{% endif %})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No has escaneado ningún QR</p>
    {% endif %}
{% endblock %}
