{% block scores %}
<div class="TagContainer">
    <div class="Tag">
        <div class="Label">
            Escaneados: {{ num_qrs }}
        </div>
    </div>

    <div class="Tag">
        <div class="Label">
            Pistas: {{ num_hints }}
        </div>
    </div>

    <div class="Tag">
        <div class="Label">
            Comercios: {{ num_shops }}
        </div>
    </div>

    <div class="Tag">
        <div class="Label">
            Puntuacion: {{ score }}
        </div>
    </div>
</div>
{% endblock %}
