{% block scores %}
<div class="TagsContainer">
    <div class="TagsRow">
        <div class="Tag">
            <div class="Label">
                QRs: {{ num_qrs }} / 24
            </div>
        </div>

        <div class="Tag">
            <div class="Label">
                Comercios: {{ num_shops }}
            </div>
        </div>

        <div class="Tag">
            <div class="Label">
                Pistas: {{ num_hints }}
            </div>
        </div>
    </div>

    <div class="TagsRow">
        <div class="Tag">
            <div class="Label">
                Puntos: {{ score }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
