{% extends user.is_authenticated|yesno:"base_generic.html,base_empty.html" %}

{% block content %}
    <div class="Center">
        <h2><strong>AGRADECIMIENTOS</strong></h2>
        <p><strong>Han colaborado</strong></p>
        <p>Alvaro Sánchez Pérez</p>
        <p>Daniel Martínez García</p>
        <p>Lara Rodríguez Barbero</p>
        <p>Pablo Martín Junquera</p>
        <p>Rafael Pellón Gómez-Calcerrada </p>
        <p>Sandra Iañez Jiménez</p>
        <p>A mis padres, que me regalaron el ZX-Spectrum con el que comencé a programar</p>
        <br>
        <p>9 Barris Imatge</p>
        <p>Arantxa Solares Martín</p>
        <p>AVV Prosperitat</p>
        <p>Comerciantes de la Rambleta</p>
        <p>Date una huerta</p>
        <p>Felipe XXXX</p>
        <p>Juanfer Ortega</p>
        <p>Luis Espallargas</p>
        <p>Marc Javierre-Kohan</p>
        <p>Maruja Ruiz</p>
        <p>Peña Prospetaos</p>
        <p>Tito Dobles</p>
    </div>

    {% if user.is_authenticated %}
        <form class="Center" action="{% url 'rules' %}">
            <input class="Button" type="submit" value="Volver"/>
        </form>
    {% endif %}
{% endblock %}
