{% extends user.is_authenticated|yesno:"base_generic.html,base_empty.html" %}

{% block content %}
    <div class="Center">
        <h3><strong>AGRADECIMIENTOS</strong></h3>
        <p>Alvaro Sánchez</p>
        <p>Arantxa Solares</p>
        <p>Daniel Martínez</p>
        <p>Felipe Rodríguez</p>
        <p>Karla Banda</p>
        <p>Lara Rodríguez</p>
        <p>Marc Javierre-Kohan</p>
        <p>Pablo Martín</p>
        <p>Rafael Pellón</p>
        <p>Sandra Iañez</p>
        <p>9 Barris Imatge</p>
        <p>A mis padres, que me regalaron el ZX-Spectrum con el que comencé a programar</p>
    </div>

    {% if user.is_authenticated %}
        <form class="Center" action="{% url 'rules' %}">
            <input class="Button" type="submit" value="Volver"/>
        </form>
    {% endif %}
{% endblock %}
