{% extends "base_generic.html" %}

{% block content %}
    {% include "gimkana/scoring.html" %}

    <h2>Mis QRs</h2>

    {% if userqr_list %}
        {% for userqr in userqr_list %}
            <div class="list-item {% if userqr.is_scanned %}checked{% else %}unchecked{% endif %}">
                <a href="{% url 'qr-detail' userqr.qr.pk %}">{{userqr.qr.title}}</a>
                (Hints: {{ userqr.hints }} - {% if userqr.scan_date %}Scanned {{ userqr.scan_date }}{% else %}Sin escanear{% endif %})
            </div>
        {% endfor %}
    {% else %}
        <p>No has escaneado ningún QR</p>
    {% endif %}
{% endblock %}
